:root {
  --font-prime: "Fira Code";
  --color-prime: #F2745F;
  --color-grey-light: #F2F6FF; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.navigation {
  background-color: #EAF0FF; }
  .navigation__center {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; }
  .navigation__link {
    text-decoration: none; }
  .navigation__header {
    font-family: "Fira Code";
    font-size: 5rem;
    position: absolute;
    top: -.5rem;
    left: 5%; }
  .navigation__list {
    list-style: none;
    display: flex;
    justify-content: center; }
  .navigation__list-item {
    font-size: 1.2rem;
    font-weight: 100;
    text-transform: uppercase;
    padding: 3rem 4rem; }

.header {
  height: 80vh;
  background-image: url("../img/banner-bg.jpg");
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .header > * {
    margin-bottom: 2rem; }
  .header__text-medium {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem; }
  .header__main {
    font-family: Constantia;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 500; }
  .header__small {
    font-size: 1.4rem; }

.section__contact {
  margin: 8rem 0;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.section__contact-pic-1 {
  height: 80%;
  width: 20%;
  background-image: url("../img/cook_011.jpg");
  background-size: cover; }

.section__contact-pic-2 {
  height: 80%;
  width: 20%;
  background-image: url("../img/cook_022.jpg");
  background-size: cover; }

.section__contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100%;
  width: 25%;
  color: #fff;
  background-color: #F2745F; }
  .section__contact-details > *:not(:last-child) {
    margin: 1rem; }
  .section__contact-details-header {
    text-transform: uppercase;
    font-size: 2.5rem; }
  .section__contact-details-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3826F;
    width: 90%; }
  .section__contact-details-secondary {
    text-transform: uppercase;
    border: 1px solid rgba(134, 135, 136, 0.62);
    border-radius: 50%;
    padding: .4rem; }

.section__meal {
  margin: 5vh 0;
  height: 35rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Fira Code"; }
  .section__meal > * {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section__meal-photo {
    width: 70%;
    transform: scaleY(0.8);
    border-radius: 50%;
    border: 10px solid #EAF0FF; }
  .section__meal-title {
    font-size: 3rem; }

.text {
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 2rem 0; }

.phone {
  font-size: 2rem;
  padding-bottom: 2rem; }

.order {
  margin: 10rem 0;
  height: 80vh;
  background-image: url("../img/book-bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .order__header {
    color: #fff;
    font-size: 3rem;
    padding: 6rem 0; }
  .order__main {
    display: flex;
    justify-content: center;
    align-items: center; }
    .order__main-photo-pic {
      background-image: url("../img/book_left_image2.jpg");
      background-size: cover;
      content: '';
      height: 40rem;
      display: flex;
      flex: 1 0 50%; }
    .order__main-form {
      height: 40rem;
      flex: 0 0 50%;
      background-color: #fff; }

.input {
  border: none;
  border-bottom: 1px solid lightgray;
  width: 37%;
  padding: 1rem;
  margin: 5% 5%; }

.reservation {
  text-align: center;
  font-family: "Fira Code";
  font-size: 3rem;
  padding-top: 2rem; }

.weekly__header {
  text-align: center;
  padding: 0rem;
  font-size: 3rem; }

.weekly__food {
  margin: 5% 10%;
  display: flex;
  justify-content: center; }
  .weekly__food-item {
    margin: 2rem;
    flex: 0 0 25%;
    background-color: #F2F6FF; }
    .weekly__food-item-header {
      margin: 3rem 3rem .5rem 3rem;
      border-bottom: 1px solid lightgray;
      font-family: "Fira Code";
      font-size: 3rem;
      font-weight: 400; }

.weekly__img {
  margin-bottom: -1rem;
  height: 25rem; }

.weekly__img-holder-1 {
  margin: 3rem 3rem 0rem 3rem;
  position: relative; }

.weekly__img-holder-2 {
  margin: 3rem 3rem 0rem 3rem;
  position: relative; }

.weekly__img-holder-3 {
  margin: 3rem 3rem 0rem 3rem;
  position: relative; }

.weekly__price-holder {
  font-family: Impact;
  position: absolute;
  bottom: -.5rem;
  right: 0;
  background-color: #EAEAE9;
  padding: 1rem;
  color: #F2745F;
  font-size: 2rem;
  font-weight: 400; }

.weekly__text-holder {
  background-color: #fff;
  margin: 0 3rem 3rem 3rem; }
  .weekly__text-holder > * {
    font-family: "Fira Code";
    padding: 1rem; }

.food-item-header {
  padding: 2rem 2rem 1rem 2rem;
  font-size: 1.7rem; }

.food-item-text {
  padding: 1rem 2rem 2rem 2rem;
  font-size: 1.4rem; }

.blog {
  padding: 10vh 0 3vh 0;
  background-color: #F2F6FF; }
  .blog__header {
    font-family: Arial;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center; }
  .blog__container {
    padding: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .blog__item {
    margin: 3rem;
    display: flex;
    width: 35%; }
  .blog__text-feeld {
    flex: 0 0 50%;
    background-color: #fff; }
    .blog__text-feeld-header {
      padding: 1.5rem;
      font-family: "Fira Code";
      font-size: 2rem;
      font-weight: 400; }
  .blog__img {
    flex: 0 0 50%; }

.text-feeld {
  padding: 0 1.5rem 1.5rem 1.5rem;
  font-size: 1.3rem; }

.text-last {
  padding: 0 1.5rem 1.5rem 1.5rem;
  color: #F3826F;
  text-transform: uppercase;
  font-weight: 600; }

.newsletter {
  height: 30vh;
  background-image: url("../img/signup-bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .newsletter__header {
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    padding-bottom: 2rem; }
  .newsletter__form {
    display: flex;
    justify-content: center;
    width: 40vw; }
    .newsletter__form > * {
      border-radius: 5px;
      margin: 2rem; }
  .newsletter__input {
    padding: 2rem 2rem;
    border: none;
    height: 4rem;
    flex: 1; }

.footer {
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #363E50;
  color: #fff; }
  .footer span {
    color: #F3826F; }
  .footer__icons {
    display: flex;
    justify-content: center; }
  .footer__icon {
    height: 4rem;
    width: 4rem;
    fill: #363E50;
    padding: 1rem; }
    .footer__icon:hover {
      fill: #fff; }
  .footer__link {
    text-decoration: none;
    background-color: #fff;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin: 1rem; }
    .footer__link:hover {
      background-color: #F3826F; }

.btn-main {
  text-transform: uppercase;
  color: #fff;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #F2745F;
  padding: 1.5rem 3rem;
  cursor: pointer; }
  .btn-main-white {
    color: #F2745F;
    background-color: #fff; }

.btn-main-reservation {
  width: 40%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #F2745F;
  padding: 1.5rem 3rem;
  cursor: pointer;
  margin: 5% 5%; }

.btn-main-newsletter {
  text-align: center;
  height: 4rem;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 3px solid #fff;
  font-size: 1rem;
  font-weight: 400;
  padding: 0rem 3rem;
  cursor: pointer;
  background-color: transparent; }

.header-menu {
  height: 40vh;
  background-image: url("../img/banner-bg.jpg");
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .header-menu > * {
    margin-bottom: 2rem; }
  .header-menu__main {
    font-family: Constantia;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 500; }
  .header-menu__small {
    font-size: 1.4rem; }

.menu__item {
  display: flex;
  justify-content: center;
  margin: 10vh 15vw; }

.menu__img-prime {
  flex: 0 0 40%; }

.menu__content {
  margin: 1.5rem 1.5rem 0 1.5rem;
  display: flex;
  display: flex; }
  .menu__content-prime {
    flex: 0 0 60%;
    background-color: #F2F6FF; }

.menu__title {
  font-size: 3.5rem;
  font-family: var(--font-prime);
  font-weight: 200;
  margin: 3rem;
  border-bottom: 1px solid lightgray; }

.menu__text-holder {
  margin: 0 1.5rem;
  background-color: #fff; }

.menu__subitems {
  padding-bottom: 2rem; }
  .menu__subitems-cover {
    position: relative;
    margin: 1.5rem 1.5rem 0 1.5rem; }
  .menu__subitems-price {
    font-family: Impact;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #EAEAE9;
    padding: 1rem;
    color: #F2745F;
    font-size: 2rem;
    font-weight: 400; }
  .menu__subitems-img {
    width: 100%;
    margin-bottom: -.5rem; }
  .menu__subitems-header {
    font-family: var(--font-prime);
    font-size: 2.2rem;
    font-weight: 200;
    padding: 2rem; }
  .menu__subitems-text {
    font-family: var(--font-prime);
    font-size: 1.5rem;
    font-weight: 200;
    padding: 0 2rem 2rem 2rem; }

.order-menu {
  margin-bottom: 0 !important; }

.blog-page {
  display: flex;
  justify-content: center;
  margin-bottom: -3rem; }
  .blog-page__item {
    margin: 10vh 0;
    width: 70vw;
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .blog-page__img {
    position: relative;
    flex: 0; }
    .blog-page__img-text {
      color: #F2745F; }
    .blog-page__img-date {
      position: absolute;
      padding: 1rem;
      background-color: #E6E5E4;
      top: 0;
      left: 0; }
  .blog-page__paragraph {
    display: inline-block; }
  .blog-page__text-holder {
    background-color: #F2F6FF;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0; }
    .blog-page__text-holder-header {
      font-weight: 400; }
    .blog-page__text-holder-header2 {
      text-transform: uppercase;
      color: var(--color-prime);
      font-size: 1rem; }
  .blog-page__text-holder > *:not(:last-child) {
    padding-bottom: 1rem;
    font-family: var(--font-prime); }
  .blog-page__navigation {
    display: flex;
    justify-content: center;
    padding: 2rem; }
    .blog-page__navigation > *:not(:last-child) {
      margin-right: 1rem; }
    .blog-page__navigation-menu {
      text-align: center;
      width: 4rem;
      height: 4rem;
      background-color: #F2F6FF;
      padding-top: 1rem; }
      .blog-page__navigation-menu:hover {
        color: #fff;
        background-color: #F2745F; }

.contactUs {
  display: flex;
  justify-content: center;
  flex: 0;
  padding: 6rem; }
  .contactUs__message {
    flex: 0 0 50%; }
    .contactUs__message-form {
      flex: 1;
      display: flex;
      height: 25rem;
      flex-direction: column;
      flex-wrap: wrap; }
  .contactUs__header {
    margin-left: 2rem;
    text-transform: uppercase;
    padding-bottom: 4rem; }
  .contactUs__form-item {
    flex: 0 0;
    margin: 2rem;
    padding: 1rem;
    border: none;
    background-color: #F4F4F4;
    height: 5rem; }
    .contactUs__form-item-message {
      order: 3;
      margin: 2rem;
      padding: 1rem;
      border: none;
      background-color: #F4F4F4;
      height: 10rem; }
  .contactUs__paragraph {
    padding: 2rem; }
  .contactUs__h3 {
    padding: 2rem; }

.btn-contactUs {
  margin: 2rem;
  order: 4; }

.order1 {
  order: 0; }

.order2 {
  order: 1; }

.order3 {
  order: 2; }
