.contactUs{
  display: flex;
  justify-content: center;
  flex: 0;
  padding: 6rem;
  &__message{
    flex: 0 0 50%;
    &-form{
      flex: 1;
      display: flex;
      height: 25rem;

      flex-direction: column;
      //align-items: center;
      flex-wrap: wrap;
    }
  }
  &__header{
    margin-left: 2rem;
    text-transform: uppercase;
    padding-bottom: 4rem;
  }
  &__form-item{
    font-family: var(--font-prime);
    flex: 0 0 ;
    margin: 2rem;
    padding: 1rem;
    border: none;
    background-color: #F4F4F4;
    height: 5rem;
    &-message{
      font-family: var(--font-prime);
      order: 3;
      margin: 2rem;
      padding: 1rem;
      border: none;
      background-color: #F4F4F4;
      height: 10rem;
    }

  }
  &__paragraph{
    padding: 2rem;
  }
  &__h3{
    padding: 2rem;
  }

}
.btn-contactUs{
  margin: 2rem;
  //padding: 1rem;
  order:4;
}
.order1{
  order: 0 ;
}
.order2{
  order: 1;
}
.order3{
  order: 2;
}